li:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  .ul, li {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
  }
  .link {
    text-decoration: none;
    color: inherit; 
  }
  .background {
    background-image: url("../../../public/book.jpg");
    
  }

  .btnLogout {
    color: white;
    /* background-color:aliceblue; */
    border-radius:10px;
  }
  .btnLogout:hover {
    color: black;
    background-color: white;
  }